{% load staticfiles %}
{% if slope_series_ficha %}
    <div class="row no-collapse 50% uniform">
        {% for capitulo in slope_series_ficha %}
        <div class="4u">
            <span class="image fit">
                    <img src="{% static 'hoor/images/'|add:capitulo.ficha.imagen %}" alt=""/>
                    <label> {% if capitulo.nombre %}{{capitulo.nombre}}{% endif %}</label>
                    <label>{{ capitulo.ficha.nombre }} {{ capitulo.temporada }} x {{ capitulo.capitulo }}</label>
                    {% if capitulo.descargado %}
                        <a href="{% url 'visto' capitulo.id %}" class="button alt icon fa-check fit">Visto</a>
                    {% else %}
                        <a class="button alt icon fa-ban fit">No Descargado</a>
                    {% endif %}
                </span>
        </div>
        {% endfor %}
    </div>
{% else %}
        <p>No existen capitulos pendientes.</p>
{% endif %} 
