{% extends "base_generic.html" %} {% block content %}
<!--<div class="container">-->

    <title>
        {% if serie %} {{ serie.nombre }} {% else %} Nueva serie {% endif %}
    </title>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}


    <script type="text/javascript">
        $(document).ready(function() {

            $("#session_start").val(recuperarPattern($('#id_ep_start').val(), 3));
            $("#episodio_start").val(recuperarPattern($('#id_ep_start').val(), 5));
            $("#session_end").val(recuperarPattern($('#id_ep_end').val(), 3));
            $("#episodio_end").val(recuperarPattern($('#id_ep_end').val(), 5));

            $("#id_quality").on("change", function(event) {
                $('#id_ep_start').val(rellenarPattern($("#id_quality"), $('#id_ep_start'), "NRS00E00"));
                $('#id_ep_end').val(rellenarPattern($("#id_quality"), $('#id_ep_end'), "NRS99E99"));
                rellenarPattern($("#id_quality"), $('#id_ep_start'))
                rellenarPattern($("#id_quality"), $('#id_ep_end'))
            });
            $("#session_start").on("change", function(event) {
                $('#id_ep_start').val($("#id_quality").val() + "S" + formatNumber($('#session_start').val()) + "E" + formatNumber($('#episodio_start').val()))
            });
            $("#episodio_start").on("change", function(event) {
                $('#id_ep_start').val($("#id_quality").val() + "S" + formatNumber($('#session_start').val()) + "E" + formatNumber($('#episodio_start').val()))
            });
            $("#session_end").on("change", function(event) {
                $('#id_ep_end').val($("#id_quality").val() + "S" + formatNumber($('#session_end').val()) + "E" + formatNumber($('#episodio_end').val()))
            });
            $("#episodio_end").on("change", function(event) {
                $('#id_ep_end').val($("#id_quality").val() + "S" + formatNumber($('#session_end').val()) + "E" + formatNumber($('#episodio_end').val()))
            });

        });

        function formatNumber(myNumber){
            var formattedNumber = ("0" + myNumber).slice(-2);
            return (formattedNumber);
        }

        function recuperarPattern(ep, indice) {
            const regex = /(NR|HD|VO|AL)(S)([0-9]{2})(E)([0-9]{2})/g;
            let m;
            valor = regex.exec(ep)[indice];
            return valor;
        }


        function rellenarPattern(quality, ep, defecto) {
            const regex = /(NR|HD|VO|AL)(S)([0-9]{2})(E)([0-9]{2})/g;
            var str = ep.val();
            let m;
            return ((m = regex.exec(str)) !== null) ? quality.val() + m[2] + m[3] + m[4] + m[5] : defecto;
        }
    </script>


    <form method="POST" action>

        <div class="row uniform ">
            {% csrf_token %}

            <div class="10u 12u(mobilep)">
                <label>{{ form.nombre.label_tag }} </label> {{ form.nombre }}
            </div>
            <div class="2u 12u(mobilep)">
                <label>{{ form.quality.label_tag }} </label> <div class="select-wrapper">{{ form.quality }}</div>
            </div>
        </div>
        <div class="row uniform ">

            <div class="2u 12u(mobilep)">
                <label>Session </label>
                <input type="number" name="session_start" id="session_start" min="0" max="99" />
            </div>
            <div class="2u 12u(mobilep)">
                <label>Episodio </label>
                <input type="number" name="episodio_start" id="episodio_start"  min="0" max="99" />
            </div>
            <div class="2u 12u(mobilep)">
                <label>{{ form.ep_start.label_tag }} </label> {{ form.ep_start }}
            </div>
            
            <div class="2u 12u(mobilep)">
                <label>Session </label>
                <input type="number" name="session_end" id="session_end"  min="0" max="99" />
            </div>
            <div class="2u 12u(mobilep)">
                <label>Episodio </label>
                <input type="number" name="episodio_end" id="episodio_end"  min="0" max="99" />
            </div>
            <div class="2u 12u(mobilep)">
                <label>{{ form.ep_end.label_tag }} </label> {{ form.ep_end }}
            </div>
        </div>
        <div class="row uniform ">
            
            <div class="2u 12u(mobilep)">
                <label>{{ form.paussed.label_tag }} </label>
                <div class="select-wrapper">
                     {{ form.paussed }}
                </div>
            </div>

            <div class="2u 12u(mobilep)">
                <label>{{ form.skipped.label_tag }} </label> 
                <div class="select-wrapper">
                    {{ form.skipped }}
                </div>
            </div>
        </div>

        <div class="row uniform">
            <div class="12u">
                <ul class="actions">
                    {% if perms.merc.change_series %}
                    <li><input type="submit" value="Grabar"/></li>
                    {% endif %} 
                    {% if perms.merc.delete_series %} 
                        {% if serie %} 
                            <li><input type="button" onclick="window.location='{% url 'control_delete' serie.id %}'" value="Borrar" /></li>
                            <!-- <button type="button" class="send btn btn-default" onclick="window.location='{% url 'launch_unique' serie.id %}'">Lanzar</button> -->
                        {% endif %} 
                    {% endif %}
                    <li><input type="reset" value="Reset" class="alt" /></li>
                </ul>
            </div>
        </div>
    </form>
<!--</div>-->
{% endblock %}
