{% extends "base_generic.html" %} 
{% block content %} 
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %} 
{% if latest_series_update %}


<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Calidad</td>
                <td>Ultima modificacion</td>
                <td>Author</td>

            </tr>
        </thead>
        <tbody>
            {% for serie in latest_series_update %} 
                {% if serie.author == request.user %}
                    <tr>
                {% else %}
                    <tr style="background: #cfebfd;">
                {% endif %} 
                {% if serie.skipped %}
                    <td><a href="{% url 'control_edit' serie.id %}" style="color: grey;">{{ serie.nombre }}</a></td>
                {% else %}
                    <td><a href="{% url 'control_edit' serie.id %}">{{ serie.nombre }}</a><br><a href="{% url 'launch_unique' serie.id %}" class="button special icon fa-search small"/></td>
                {% endif %}
                    <td>{{ serie.quality }} - {{ serie.ep_start }}</td>
                    <td>
                        <span style="display: none;">{{ serie.ultima|date:"Y-m-d" }}</span>
                        <!-- {{ serie.ultima|date:"l, F jS, Y" }} -->
                        {{ serie.ultima | date:"D, d N Y [H:i:s]" }}
                    </td>
                    <td>{% if serie.author.get_full_name %} {{serie.author.get_full_name}} {% else %} {{serie.author.get_username}} {% endif %}</td>
                </tr>
                {% endfor %}
        </tbody>
        <!--<tfoot>-->
        <!--    <tr>-->
        <!--        <td colspan="2"></td>-->
        <!--        <td>100.00</td>-->
        <!--    </tr>-->
        <!--</tfoot>-->
    </table>
</div>

         
{% else %}
<p>No series are available.</p>
{% endif %} {% endblock %}
