{% extends "base_generic.html" %} 
{% load staticfiles %} 
{% block content %} 
{% if error_message %}
 <p><strong>{{ error_message }}</strong></p>
{% endif %} 

<script>
 
// Tip: Remove toUpperCase() if you want to perform a case-sensitive search.
// Tip: Change tr[i].getElementsByTagName('td')[0] to [1] if you want to search for "Country" (index 1) instead of "Name" (index 0). 
 
 
function search(input,table) {
    // Declare variables
    var input, filter, table, tr, td, i;
    //   input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(table);
    tr = table.getElementsByTagName("tr");
    
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            count++
          } else {
            tr[i].style.display = "none";
          }
        }
    }
}


    $(document).ready(function () {
        $("#btn_visto").click(function () {
            alert($(this).val())
            $.ajax({
                url:"{% url 'hod:visto_ajax' %}",
                data: {
                    'visto_id': $(this).val()
                },
                dataType: 'json',
                success: function (data) {
                    $(this).remove()
                }
            });
        });
    });


</script>


<style type="text/css">
    .truncate_text_oneline {
    	width: 100%;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
    }
</style>

{% if ficha %}

<a href="{% url 'hod:index' %}" class="button alt icon fit">Volver</a>


<div class="table-wrapper" id="fichaList">
    <div class="6u 6u(mobilep)">
        <input type="text" id="searchInput" onkeyup="search(this, 'fichaList')" placeholder="Search for series.."/>
    </div>
    {% for temporada in slope_series_ficha %}
        <h2> Temporada  {{ temporada.temporada.temporada }} </h2>
        <a href="{% url 'hod:visto_all_session' ficha.id temporada.temporada.temporada %}" class="button alt icon fa-check fit">Marcar Temporada {{ temporada.temporada.temporada }} </a>
        <table>
            <thead>
                <tr>
                    <td>Capitulo</td>
                    <td>Nombre</td>
                    <td>Visto</td>
                </tr>
            </thead>
            <tbody>
    
                {% for capitulo in temporada.capitulos %} 
                    <tr>
                        <td>{{ capitulo.temporada }} x {{ capitulo.capitulo }}</td>
                        <td>{{ capitulo.nombre }}</td>
                        <!--<td>{{ capitulo.id }}</td>-->
                        <td>
                            {% if capitulo.descargado %}
                                <a href="{% url 'hod:visto' capitulo.id %}" class="button alt icon fa-check fit truncate_text_oneline">Visto</a>
                            {% endif %}
                        </td>
                        <!--<td><button id="btn_visto" value="{{ capitulo.id }}" class="button alt icon fa-check fit truncate_text_oneline">Visto</button></td>-->
                    </tr>
                {% endfor %}
         
            </tbody>
            <!--<tfoot>-->
            <!--    <tr>-->
            <!--        <td colspan="2"></td>-->
            <!--        <td>100.00</td>-->
            <!--    </tr>-->
            <!--</tfoot>-->
        </table>    
    {% endfor %}
</div>

         
{% else %}
<p>No series are available.</p>
{% endif %} {% endblock %}
