{% extends "base_generic.html" %} 
{% block content %}

<title>
    {% if torrentserver %}
        {{ torrentserver.host }}:{{ torrentserver.port }}
    {% else %}
        Server Nuevo
    {% endif %}
</title>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="POST" class="form-horizontal" action >

    <div class="row uniform ">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="10u 12u(mobilep)">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
    </div>
        
    {% if perms.merc.change_torrentservers %}
        <div class="row uniform">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" value="Grabar"/></li>
                </ul>
            </div>
        </div>
    {% endif %} 
    
{% endblock %}
