{% extends "base_generic.html" %} 
{% block content %}
<div class="container">

<title>
    {% if torrentserver %}
        {{ torrentserver.host }}:{{ torrentserver.port }}
    {% else %}
        Server Nuevo
    {% endif %}
</title>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>{% endif %}


<script type="text/javascript">
    // $(document).ready(function() {
    //     $("#id_quality").on("change", function(event) {
    //         $('#id_ep_start').val(rellenarPattern($("#id_quality"), $('#id_ep_start'), "NRS00E00"));
    //         $('#id_ep_end').val(rellenarPattern($("#id_quality"), $('#id_ep_end'), "NRS99E99"));
    //         rellenarPattern($("#id_quality"), $('#id_ep_start'))
    //         rellenarPattern($("#id_quality"), $('#id_ep_end'))
    //     });
    // });


    // function rellenarPattern(quality, ep, defecto) {
    //     const regex = /(NR|HD|VO)(S[0-9]{2})(E[0-9]{2})/g;
    //     var str = ep.val();
    //     let m;
    //     return ((m = regex.exec(str)) !== null) ? quality.val() + m[2] + m[3] : defecto;
    // }
</script>

<form method="POST" class="form-horizontal" action >

    <div class="form-group col-xs-5">
        {% csrf_token %}
        
        
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
    
        
        {% if perms.merc.change_torrentservers %}
            <button type="submit" class="save btn btn-default">Grabar</button> 
        {% endif %} 
        {% if perms.merc.delete_torrentservers %}
            {% if serie %}
             <!--<button type="button" class="delete btn btn-default" onclick="window.location='{% url 'control_delete' serie.id %}'">Borrar</button> -->
            {% endif %}  
        {% endif %} 
        <!--<button type="Cancel" class="cancel btn btn-default" onclick="window.location='{% url 'list' %}'">Cancel</button>-->
    </div>
    
</div>
{% endblock %}
