{% extends "base_generic.html" %} 

{% block content %}

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


{% if latest_torrentservers_update %}
<table class="table-wrapper">
    <thead>
        <tr>
            <td>Host</td>
            <td>Port</td>
            <td>User</td>
        </tr>
    </thead>
    <tbody>
        {% for torrentserver in latest_torrentservers_update %}
        <tr>
            {% if torrentserver.torrent_active %}
                <td><a href="{% url 'control_edittorrentserver' torrentserver.id %}">{{ torrentserver.host }}</a></td>
            {% else %}
                <td>
                    <a href="{% url 'control_edittorrentserver' torrentserver.id %}" style="color: grey;">{{ torrentserver.host }}</a>
                    <br>
                    {% if perms.merc.change_torrentservers %}
                        <a href="{% url 'control_edittorrentserver' torrentserver.id %}" class="button special icon fa-search small"/>
                    {% endif %} 
                </td>
            {% endif %}
            <td>{{ torrentserver.port }}</td>
            <td>{{ torrentserver.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No torrentservers are available.</p>
{% endif %} 


<!-- </div> -->
{% endblock %}
