{% load staticfiles %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.css">

<link rel="stylesheet" type="text/css" href="{% static 'mercurio/css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mercurio/css/style.css' %}" />


<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.js"></script>
<!--<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"></script>-->


</html>

<body>

    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <!--<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {% if user.get_full_name %} 
                                {{user.get_full_name}} 
                            {% else %} 
                                {{user.get_username}} 
                            {% endif %}
                        </div>
                        <div class="profile-usertitle-job">
                            {% if user.is_authenticated %}
                                User
                            {% endif %}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        {% if user.is_authenticated %}
                            <a class="btn btn-success btn-sm" href="{% url 'logout'%}?next={{request.path}}">Logout</a> 
                        {% else %}
                            <!--<a class="btn btn-danger btn-sm" href="{% url 'login'%}?next={{request.path}}">Login</a> -->
                        {% endif %}
                        <!--<button type="button" class="btn btn-success btn-sm">Follow</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm">Message</button>-->
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="/mercurio/"><i class="glyphicon glyphicon-home"></i>Portada</a>
                            </li>
                            <!--
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-user"></i>Account Settings </a>
							</li>
							-->
                            {% if perms.mercurio.add_series %}
                                <li>
                                    <a href="/mercurio/control"><i class="glyphicon glyphicon-ok"></i>Control </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-flag"></i>Ayuda</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!--
        <ul id="sidebar-nav">
            {% if user.is_authenticated %} {% if user.get_full_name %}
            <li>{{user.get_full_name}}</li>
            {% else %}
            <li>{{user.get_username}}</li>
            {% endif %}
            <li><a class="login" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a class="login" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    
    <div id="content">
    </div>
    -->
</body>
