{% extends "base_hoor_generic.html" %} {% block container %}
<section class="box">
    <div class="box alt">
        <h3>Acceso</h3>

        <form method="post" action="{% url 'login' %}">

            {%csrf_token%} {% for error in form.non_field_errors %}
            <div class="row uniform 50%">
                {{error}}
            </div>
            {% endfor %} {% for field in form %}
            <div class="row uniform 50%">
                {{field.errors}}
            </div>
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    {{field}}
                </diV>
            </div>

            {% endfor %}
            <div class="row uniform">
                <div class="12u">
                    <ul class="actions">
                        <li><input type="submit" value="login" /></li>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </ul>
                </div>
            </div>
        </form>


    </diV>
</section>


{% endblock %}
