{% extends "base_hoor_generic.html" %} 
{% load staticfiles %} 
{% block container %} 
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} 


<section class="box">
    <div class="box alt">
        <h2>Usuario : {{ user.get_full_name }}</h2>
            <ul>
            
                <li>Username: {{ user.username }}</li>
                <li>plugins: 
                        <ul>
                          {% for plugin in user.profile.plugins.all %}
                              <li>{{ plugin }}</li>
                          {% endfor %}
                        </ul>
                </li>
                <li>Birth Date: {{ user.profile.birth_date }}</li>
            </ul>
    </div>
</section>


{% endblock %}
