{% extends "base_hoor_generic.html" %} {% load staticfiles %} {% block container %} {% if error_message %}
<p><strong>{{ error_message }}</strong></p>{% endif %}

<section class="box">

    <div class="box alt">
        {% if ficha %} 
            <div class="table-wrapper">
                <table>
                    <tr>
                        <td><label>Ficha</label></td>
                        <td>{{ ficha.nombre }}</td>
                        <td><label>Estado:</label></td>
                        <td>{{ficha.get_estado_display}}</td>
                    </tr>
                    {% if down_series_ficha %}
                    <tr>
                        <td><label>Calidad:</label></td>
                        <td>{{down_series_ficha.quality}}</td>
                        <td><label>Pendiente de descarga:</label></td>
                        <td>{{down_series_ficha.ep_start}}</td>
                    </tr>
                    {% else %}
                        <tr><td>No hay Orden de descarga de descarga</td></tr>
                    {% endif %}        
            
                </table>
            </div>

        <h2>Capitulos pendientes </h2>
        {% include "hoor/generic/slope_series_ficha.html" with slope_series_ficha=slope_series_ficha %}

    {% else %}
        <div class="row no-collapse 50% uniform">
            <p>No existe la ficha.</p>
        </diV>
        
    {% endif %}

    </div>
</section> 

{% endblock %}

 