{% extends "base_hoor_generic.html" %} {% load staticfiles %} {% block container%} {% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<section class="box">

<style type="text/css">
    details > summary:first-of-type {
        list-style: square inside url("/static/hoor/images/circle_down.png");
    }
    .miniinfo{
        font-size: small;
    }
</style>


    {% if latest_series_update %}
    <div class="box alt">




        <script>
            // Tip: Remove toUpperCase() if you want to perform a case-sensitive search.
            // Tip: Change tr[i].getElementsByTagName('td')[0] to [1] if you want to search for "Country" (index 1) instead of "Name" (index 0). 


            function search(input, table) {
                // Declare variables
                var input, filter, table, tr, td, i;
                //   input = document.getElementById("searchInput");
                filter = input.value.toUpperCase();
                table = document.getElementById(table);
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            count++
                        }
                        else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>





        <div class="table-wrapper" id="seriesList">
            <div class="6u 6u(mobilep)">
                <input type="text" id="searchInput" onkeyup="search(this, 'seriesList')" placeholder="Search for series.." />
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Estado</td>
                        <td>Author</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in latest_series_update %} 
                        
                        {% if ficha.author == request.user %}
                            <tr>
                        {% else %}
                            <tr style="background: #cfebfd;">
                        {% endif %}
                                    {% if ficha.down %}
                                    <td>
                                        <details>
                                            <summary>
                                                <a href="{% url 'ver_ficha' ficha.id %}">{{ ficha.nombre }}</a>
                                            </summary>
                                                <style type="text/css">
                                                    .miniinfo{
                                                        font-size: small;
                                                    }
                                                </style>
                                                <div class="miniinfo">
                                                    <!--<span>{% if ficha.down.estado_descarga %} OK {% endif %}</span>-->
                                                    <span>Capitulos : {{ ficha.down.ep_start }} - {{ ficha.down.ep_end }}</span>
                                                    {% if ficha.down.plugins %}
                                                        <span><br/>Plugins propios: {% for plug in ficha.down.plugins.all %}{{ plug }}<br/>{% endfor %}</span>
                                                    {% else %}
                                                        <span>Por Defecto</span>
                                                    {% endif %}
                                                </div>
                                        </details>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="{% url 'ver_ficha' ficha.id %}">{{ ficha.nombre }}</a>
                                    </td>
                                    {% endif %}
                                    
                                    <td>{{ ficha.get_estado_display }}</td>
                                    <td>{% if ficha.author.get_full_name %} {{ ficha.author.get_full_name }} {% else %}  {{ ficha.author.username }} {% endif %}</td>
                            </tr>
                    {% endfor %}
                </tbody>

                <!--<tfoot>-->
                <!--    <tr>-->
                <!--        <td colspan="2"></td>-->
                <!--        <td>100.00</td>-->
                <!--    </tr>-->
                <!--</tfoot>-->
            </table>
        </div>


        {% else %}
        <p>No series are available.</p>
        {% endif %} {% endblock %}

    </div>
</section>
