{% extends "base_hoor_generic.html" %} {% load staticfiles %} {% block container%} {% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<section class="box">

    {% if latest_series_update %}
    <div class="box alt">




        <script>
            // Tip: Remove toUpperCase() if you want to perform a case-sensitive search.
            // Tip: Change tr[i].getElementsByTagName('td')[0] to [1] if you want to search for "Country" (index 1) instead of "Name" (index 0). 


            function search(input, table) {
                // Declare variables
                var input, filter, table, tr, td, i;
                //   input = document.getElementById("searchInput");
                filter = input.value.toUpperCase();
                table = document.getElementById(table);
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            count++
                        }
                        else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>





        <div class="table-wrapper" id="seriesList">
            <div class="6u 6u(mobilep)">
                <input type="text" id="searchInput" onkeyup="search(this, 'seriesList')" placeholder="Search for series.." />
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Estado</td>
                        <td>Author</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in latest_series_update %} 
                        {% if ficha.author == request.user %}
                            <tr>
                        {% else %}
                            <tr style="background: #cfebfd;">
                        {% endif %}
                                <a href="{% url 'ver_ficha' ficha.id %}">
                                    <td>{{ ficha.nombre }}</td>
                                    <td>{{ ficha.get_estado_display }}</td>
                                    <td>{% if ficha.author.get_full_name %} {{ ficha.author.get_full_name }} {% else %}  {{ ficha.author.username }} {% endif %}</td>
                                    <td>{% if ficha.down.estado_descarga %}<img src="{% static 'hoor/images/download.png' %}" alt="" />{% endif %}</td>
                                </a>
                            </tr>
                    {% endfor %}
                </tbody>

                <!--<tfoot>-->
                <!--    <tr>-->
                <!--        <td colspan="2"></td>-->
                <!--        <td>100.00</td>-->
                <!--    </tr>-->
                <!--</tfoot>-->
            </table>
        </div>


        {% else %}
        <p>No series are available.</p>
        {% endif %} {% endblock %}

    </div>
</section>
